@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-3Light';
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

.fix::before,
.fix::after,
.fix {
    clear: both;
    content: '';
    display: block;
    zoom: 1;
}

.iiner {
    width: 1654px;
}

.iiiner {
    width: 1752px;
}

.inner {
    width: 1200px;
    margin: auto;
}

.top_menu {
    background-color: #ece3de;
}

.top-m {
    display: flex;
    justify-content: flex-end;
}

.top-m li {
    font-weight: bold;
    font-size: 14px;
    color: #474747;
    margin-left: 13px;
    padding: 10px;
}



.serch input {
    background-image: url(../images/glass.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 50px;
    border: 0.8px solid #333;
    padding: 5px;
}
.serch input:focus{
    background:none;
}
.head {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 10px;
}

.logo {
    margin-right: 160px;
}

.serch {
    float: left;
    margin-top: 90px;
}

nav {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.main-m {
    display: flex;
}

.sub-m {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    display: none;
}

/* .main-m li:hover .sub-m {
    display: block;
} */

.time {
    margin-left: auto;
}

.time a {
    font-size: 16px;
    color: #ff5b5b;
}

.main-m li {
    font-weight: bold;
    font-size: 16px;
    color: #323232;
    position: relative;
    text-align: center;
    padding-left: 24px;
}

.main-m li a {
    display: block;
    margin-right: 20px;
    padding: 5px;
}

.quick {
    position: fixed;
    right: 0;
    top: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;

    /* border-top: 1px solid #757373;
    border-left: 1px solid #757373;
    border-bottom: 1px solid #757373; */
}

.quick a {
    display: block;
    padding: 10px 6px;
}

.threebar {
    background-color: #757373;
}

.middle {
    margin-bottom: 200px;
}

.main_banner {
    margin-bottom: 145px;
}

.middle_logo {
    text-align: center;
    margin-bottom: 45px;
}

.middle_picture {
    display: flex;
    justify-content: center;
}

.prize {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #ece3de;

}

.food {
    margin: 0 12px;
}

.goodfood {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.goodfood_picture {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 35px;
    color: #323232;
    padding-bottom: 18px;
}

.more {
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: right;
}

.goodfood_picture h1 {
    color: #272727;
    padding-top: 10px;
    font-size: 18px;
}

.goodfood_picture h2 {
    font-size: 16px;
    color: #676767;
}

.goodfood_picture h3 {
    color: #272727;
    font-size: 18px;
    padding-bottom: 15px;
}

.salefood {
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
}

.salefood_picture {
    display: flex;
    justify-content: center;
}

.salefood_picture h1 {
    color: #272727;
    padding-top: 10px;
    font-size: 18px;
}

.salefood_picture h2 {
    font-size: 16px;
    color: #676767;
}

.salefood_picture h5 {
    color: #272727;
    font-size: 16px;
}

.salefood_picture h4 {
    color: #272727;
    font-size: 18px;
    padding-bottom: 15px;
}

.higlight {
    display: flex;
    justify-content: center;

}

.higlight img {
    margin: 0 2px;
}

.ad {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ad img {
    margin: 0 10px;
}

.review {
    text-align: center;
    background-color: #ece3de;
    padding-top: 100px;
    padding-bottom: 50px;
}

.review_picture {
    display: flex;
    justify-content: center;
}

.review h1 {
    font-size: 48px;
    color: #323232;
    margin-bottom: 10px;
}

.review h2 {
    font-size: 36px;
    color: #323232;
    margin-bottom: 50px;
}

.review h3 {
    font-size: 16px;
    color: #323232;
    margin-bottom: 10px;
    text-align: right;
    text-decoration: underline;
}

.review01 {
    background-color: #fff;
    width: 330px;
    /* padding:0 15px; */
    /* margin: 0 15px; */
}

.review_big {
    width: 100%;
    padding-bottom: 8px;
}

.star {
    background-image: url(../images/review_star5.png);
    background-repeat: no-repeat;
    margin-left: 6px;
}

.minireview {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review_small {
    margin-left: 6px;
    margin-bottom: 8px;
    margin-right: 14px;
}

.reviewcart {
    margin-right: 6px;
    margin-left: 120px;
}

.review01 h4 {
    font-size: 16px;
    color: #323232;
    text-align: right;
    padding-right: 14px;
    padding-bottom: 10px;

}

.review01 h5 {
    font-size: 16px;
    color: #323232;
    padding-bottom: 24px;
}


.review01 h6 {
    font-size: 15px;
    color: #323232;
    padding-bottom: 8px;
}

.sns {
    margin-top: 100px;
}

.sns h1 {
    margin-top: 22px;
    font-size: 16px;
    color: #111111;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
    margin-top: 80px;
}

.information h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.information h2 {
    font-size: 16px;
    color: #111111;
    padding-bottom: 10px;
}

.custom h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.custom h2 {
    font-size: 24px;
    color: #111111;
    padding-bottom: 10px;
}

.custom h3 {
    font-size: 14px;
    color: #111111;
}

.cash h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;

}

.cash h2 {
    font-size: 18px;
    color: #111111;
}

.cash h3 {
    font-size: 14px;
    color: #111111;
}